!!!
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
<!--[if (gte IE 9)|!(IE)]>
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Florian Kasper"
    %link{href:'http://fonts.googleapis.com/css?family=Montserrat', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag    "application", media: :screen
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags
  %body
    %section{role: :main}
      %header.most-top
        .row
          .large-12.columns.center
            .row
              .small-2.columns
                LOGO
              .small-4.columns
                %nav.top-bar
                  %section.top-bar-section
                    %ul.left
                      %li.divider
                      %li.active=link_to "bla", :root
                    
      

      %section#content
        /%header.inpage
        /  .row
        /    .large-12.columns.breadcrumb
        /      breadcrumbs
                    
        %section.content
        
        %section.body
          .row.container-middle
            .large-12.columns
              cotnent
            
      
      
        
      = yield
      
      = javascript_include_tag "application"
      
    